<!-- <body>
    <label for="name">Name</label>&nbsp;<input type="text" [(ngModel)]="name"/>
    <label for="contact">Contact</label>&nbsp; <input type="text" [(ngModel)]="contact"/>
    <label for="place">Place</label>&nbsp;<input type="text" [(ngModel)]="place"/>
  <div class="main">
  <table class="center">
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Place</th>
    </tr>
    <tr>
      <td>{{name}}</td>
      <td>{{contact}}</td>
      <td>{{place}}</td>
  </tr>
  </table>
  </div>
</body>
 -->

 <!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>I am App Component!</h1>
      <hr>
      <app-servers></app-servers>
      <div app-servers></div>
    </div>
  </div>
 </div>

 <hr>
 <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-warningalert></app-warningalert>
    </div>
    <div class="col-sm-6">
      
    </div>
 </div> -->
<div class="container">
  <h3>I am in the appComponent</h3>
  <hr>
  <app-servers></app-servers>
</div>