/* You can add global styles to this file, and also import other style files */
*body{
    background-image: url(https://www.w3schools.com/css/img_mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}